@{
    Layout = "_Layoutt";
    ViewData["CartId"] = ViewBag.CartId;
    ViewData["User"] = ViewBag.User;
    ViewData["List"] = ViewBag.UL;
    ViewData["RChat"] = ViewBag.RChat;
    ViewData["SChat"] = ViewBag.SChat;
    ViewData["URead"] = ViewBag.UnRead;
    ViewData["UN"] = ViewBag.UN;
    ViewData["Notif"] = ViewBag.Notif;
}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.6">
    <title>Purchase</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/checkout/">

    <!-- Bootstrap core CSS -->
<link href="https://getbootstrap.com/docs/docs/4.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Favicons -->
<link rel="apple-touch-icon" href="https://getbootstrap.com/docs/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="https://getbootstrap.com/docs/docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="https://getbootstrap.com/docs/docs/4.4/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="https://getbootstrap.com/docs/docs/4.4/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="https://getbootstrap.com/docs/docs/4.4/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
<link rel="icon" href="https://getbootstrap.com/docs/docs/4.4/assets/img/favicons/favicon.ico">
<meta name="msapplication-config" content="https://getbootstrap.com/docs/docs/4.4/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">
  </head>
  <body class="bg-light">
    <div class="container">
  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Cart Pembelianmu</span>
        <span class="badge badge-secondary badge-pill"></span>
      </h4>
      <ul class="list-group mb-3">
          @{
              var item = ViewBag.Item;
              foreach(var i in item)
              {
                  <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">@i.item_name</h6>
                    </div>
                  </li>
              }
              
          }
        
        <li class="list-group-item d-flex justify-content-between">
         <span>Total (ID)</span>
             <strong>@ViewBag.Cart</strong>
        </li>
      </ul>
    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Alamat Purchase</h4>
      <form class="needs-validation" asp-action="Payment" asp-controller="Purchase" method="post">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">Nama Depan</label>
            <input type="text" class="form-control" id="firstName" name="firstName"placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Nama Belakang</label>
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="username">Username</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"></span>
            </div>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username" required value=@ViewBag.User hidden>
            <div class="invalid-feedback" style="width: 100%;">
              Your username is required.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="email">Email <span class="text-muted">(Optional)</span></label>
          <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com">
          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
        </div>

        <div class="mb-3">
          <label for="address">Alamat</label>
          <input type="text" class="form-control" id="address" name="address" placeholder="Jalan Gedong Kuning Punya" required>
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="zip">Kode Pos</label>
            <input type="text" class="form-control" id="zip" name="zip" placeholder="" required>
            <div class="invalid-feedback">
              Kode Pos required.
            </div>
          </div>
        </div>

        <h4 class="mb-4">Payment</h4>
            <input name="Order_id" value=@ViewBag.CartID hidden>
            <input name="total_cart" value=@ViewBag.Cart hidden>  
        <div class="d-block my-4">
          <div class="custom-control custom-radio">
            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" >
            <label class="custom-control-label" for="credit">Credit card</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" value="bank_transfer">
            <label class="custom-control-label" for="debit">Bank Transfer</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" value="gopay">
            <label class="custom-control-label" for="paypal">GoPay</label>
          </div>
        </div>
        <div class="d-block my-3">
          <label>Bank</label>
          <select name="bank_type" id = "Sort">
          <option value = "bca">BCA</option>
          <option value = "bni">BNI</option>
          <option value = "permata">Permata</option>
          <option value = "echannel">Mandiri</option>
          </select>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" id="purchase" type="submit" data-toggle="modal" data-target="#exampleModalScrollable">Lanjutkan checkout</button>
      </form>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="form-validation.js"></script>
<script>
        $(document).ready(function(){
            let connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
            let sender2 = $('#sender').val();
            console.log(connection);
            connection.start().then(function(){
                console.log("Berhasil");
            connection.invoke('getConnectionId')
                .then(function (connectionId) {
                    sessionStorage.setItem('conectionId', connectionId);
                }).catch(err => console.error(err.toString()));;
            connection.invoke('AddId',sender2)
                .then(data => {
                    console.log('Berhasil ambil Id')
                }).catch(err => {
                    return console.error(err.toString());
                })
            $('#send').on('click',function(event)
            {
                event.preventDefault();
                let sender = $('#sender').val();
                let receiver = $('#receiver').val();
                let message = $('#msg').val();
                var connectionId = sessionStorage.getItem('conectionId');
                connection.invoke("SendMessage",sender,receiver,message,connectionId)
                .then(data => {
                    console.log('Berhasil')
                }).catch(err => {
                    return console.error(err.toString());
                })
            })
            }).catch(function(err)
            {
                return console.error(err.toString());
            });

            connection.on("GotMessage",function(sender,receiver,message)
            {
                $('#chatbox').append('<li>' + sender + ':' + message + '</li>');
            })
        });
    </script>
    <script>
        $(document).ready(function(){
                let connection = new signalR.HubConnectionBuilder().withUrl("/paymentHub").build();
                console.log(connection);
                connection.start().then(function(){
                $('#purchase').on('click',function()
                {
                    let username = $('#username').val();
                    connection.invoke("SendNotification",username)
                    .then(data => {
                        console.log('Berhasil')
                    }).catch(err => {
                        return console.error(err.toString());
                    })
                })
                }).catch(function(err)
                {
                    return console.error(err.toString());
                });
            });
    </script>
</body>
</html>

